@charset "UTF-8";

@media screen and (min-width: 768px){

    span#burguer{
        display: none;
        text-align: left;
    }

    menu#itens{
        display: block;
        text-align: left;
    }

    #itens > ul > li{
        display: inline-block;
    }
 
    main{
        width: 768px;
    }
}