@charset "UTF-8";

@media screen and (max-width: 999px) {
    body{
        overflow-x: hidden;
    }
    
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        flex-direction: column;
        align-items: center;
        background: rgb(62, 3, 85);
        justify-content: space-around;
        transform: translateX(100%);
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu{
        display: block;
    }

    .mobile-menu.active{
        transform: translateX(0);
    }
}