@charset "UTF-8";

body{
    font-family: 'Courier New', Courier, monospace;
}

table{
    width: 300px;
    height: 300px;
}

td{
    padding: 8px;
    border: 1px solid black;
    text-align: center;
}
